@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kanit&family=Oswald&family=Teko:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  color: rgba(121, 121, 121, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2rem 0 2rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
